/* Utility Style */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}



.container {
    padding: 2%;
}

.clearfix {
    overflow: "";
    clear: both;
    display: table;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

mt-5 {
    margin-top: 5px;
}

.pt-20 {
    padding-top: 20px;
}


.p-5 {
    padding: 5px;
}

pl-5 {
    padding-left: 5px;
}

.w-50-par {
    width: 50%;
}
.w-35-par {
    width: 40%;
}

.w-75-par {
    width: 75%;
}

.w-25-par {
    width: 25%
}

.float-left {
    float: left;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: orange;
    background: (45deg, orange, red);
    color: white;
    border-radius: 3px;
    font-weight: 500;
    transition: .5s ease-in-out;
}

.btn:hover {
    color: #000;
}

img {
    max-width: 100%;
}

/* Utility Style end */

.orange-heilight {
    color: orange;
}

.banner-section {
    height: 500px;
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    /* border: 1px solid red; */

}

.dream-area {
    height: 600px;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto;

    /* border: 1px solid red; */

}

.experience-section {
    height: 500px;

    background-image: url('./images/exp-bg.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: left center;
    
}

.single-experience {
    box-shadow: 5px 5px 10px grey;
    height: 80%;
    padding: 20px 25px;
    margin-left: 2%;
    margin-right: 2%;

    border-radius: 5px;

    background-color: white;
   

    /* */
}

#full-stack {
    border-left: 10px solid ;
    border-image: linear-gradient(orange, red);
    border-image-slice: 1;
}
#baby-web {
    border-left: 10px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    padding-top: 20px;
    font-size: 12px;
    
}